form{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}
@media screen and (min-width: 500) {
    form{
        width: 310px;
    }
  }
header{
    align-items: center;
    padding: 10px;
    background-color: lightcyan;
    justify-content: space-around;
    border-radius: 5px;
}
.col{
    text-align: center;
}
.row{
    justify-content: center;
}
form input{
    text-align: center;
}
.col button{
    margin: 10px;
}
